



<h1> Super Rugby 2018 </h1>



	
<% @matches.each do |match| %>
<table>
<tr>
<td><%= match.date %><b> &nbsp; | &nbsp; </b></td>
<td><%= match.teams %><b> &nbsp; | &nbsp; </b></td>
<td><%= match.venue %><b> &nbsp; | &nbsp; </b></td>
<td><%= match.time %></td>
</tr></br></br>
</table>
<% end %> 






















